* {
    box-sizing: border-box;
}

.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 960px;
    height: 100%;
    grid-template-areas: "h h" "n c";
    box-shadow: 5px 10px 18px #888888;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 3fr 9fr;
    /* grid-gap: 10px; */
}

.app-wrapper-content {
    grid-area: c;
    background-color: white;
    padding: 10px 10px 0 10px;
    height: 100%;
    overflow: auto;
}

html {
    background-color: whitesmoke;
}









/*

/messages
/dialogs

/dialogs/3
/dialogs/2

*/
